.dark-mode-toggle {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode-toggle:hover {
  background-color: #555;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .grid-cell {
  background-color: #333;
  color: #ffffff;
}

body.dark-mode .grid-cell:hover {
  background-color: #444;
}
