.App {
  text-align: center;
}
/* Tailwind or bootstrap */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 60px; /* Adjust height as needed */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between items */
  padding: 0 20px; /* Add padding to the sides */
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1000; /* Ensure it stays on top */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-main {
  padding-top: 60px; /* Adjust padding to match header height */
}

.dark-mode-toggle {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode-toggle:hover {
  background-color: #555;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .grid-cell {
  background-color: #333;
  color: #ffffff;
}

body.dark-mode .grid-cell:hover {
  background-color: #444;
}

.grid-wrapper {
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Adjust the number of columns as needed */
  gap: 10px;
  padding: 20px;
}

.grid-row {
  display: contents; /* Ensures the rows are displayed correctly in the grid */
}

.grid-cell {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.grid-cell.selected {
  background-color: #d4edda;
  color: #155724;
}

.grid-cell.guessed {
  background-color: #d5b8f0;
  color: #2a083b;
}

body.dark-mode .grid-cell.selected {
  background-color: #d4edda;
  color: #155724;
}

body.dark-mode .grid-cell.guessed {
  background-color: #d5b8f0;
  color: #2a083b;
}

/* .shuffle-button {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.shuffle-button:hover {
  background-color: #e0e0e0;
} */

.submit-button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 10px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 10px;
}

.delete-button:hover {
  background-color: #c82333;
}

.save-button {
  background-color: #28a745;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 10px;
}

.save-button:hover {
  background-color: #218838;
}

.shuffle-button {
  background-color: #f0f0f0;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 10px;
}

.shuffle-button:hover {
  background-color: #e0e0e0;
}

.saved-games {
  margin-top: 10px;
}

.grid-cell.wrong {
  background-color: #f8d7da; /* Light red background */
  color: #721c24; /* Dark red text */
  border: 1px solid #f5c6cb;
}
/* .connection-banner {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  margin-top: 20px;
  z-index: 1;
} */
